.auth_header_title {
  text-align: center;
  font-family: var(--font-Poppins-Bold);
  font-size: 24px;
}
.auth_forgotPassword {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--font-Poppins-Medium);
  font-size: 14px;
}
.auth_footer {
  font-family: var(--font-Poppins-Medium);
  font-size: 14px;
}
.auth_button {
  font-family: var(--font-Poppins-SemiBold);
}
