.profile_title {
  font-size: 20px;
  font-family: var(--font-Poppins-Bold);
  text-align: center;
}

.details_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .details_left {
    font-size: 16px;
    font-family: var(--font-Poppins-SemiBold);
    width: 35%;
  }

  .details_right {
    font-size: 16px;
    font-family: var(--font-Poppins-Medium);
    width: 50%;
  }
}
